.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidenav {
  padding-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
